{{> navbar}}
<div class="container">
    {{#each article}}
    <div class="card text-center">
        <div class="card-header">
            <h2>{{title}}</h2>
        </div>
        <div class="card-body">
         
                <button data-id="{{_id}}" class="btn btn-primary dropdown-toggle comment-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    Comment
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comment</label>
                        <textarea class="form-control" id="text{{_id}}" rows="3"></textarea>
                        <button data-id="{{_id}}" type="button" class="btn btn-primary save-comment">Save Comment</button>
                    </div>
                </div>
           
            {{!-- <button data-id="{{_id}}" class='btn btn-primary comment-modal' data-toggle="modal" data-target=".bd-example-modal-lg">Comment</button> --}}
            <a href="{{link}}" class="btn btn-secondary" role="button">Read News</a>
        </div>
    </div>
    <br>
    {{/each}}
</div>

